
:root{
    --gray: gray;
    --blue: blue;
}

.research{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.research_head{
    display: flex;
    width: 80%;
    max-width: 1100px;
}
.research_img{
    width: 120px;
    border-radius: 50%;
    zoom: 100%;
    padding-right: 50px;
    padding-left: 50px;
}
.research_name_heading{
    font-size: 30;
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 500;
}
.gray_second{
    font-size: 16;
    font-weight: 400;
    color: var(--gray);
}
.research_head_content{
    justify-content: left;
    /* display: flex;
    flex-direction: column; */
}
.specials{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0;
}
.special_item{
    /* width: 200px; */
    margin-right: 20px;
    text-align: left;
    color: var(--blue);
}

.article_list{
    width: 90%;
    max-width: 1000px;
    
}
.article_head{
    width: 90%;
    display: flex;
    margin-top: 20px;
    background-color: lightgray;
    padding: 0px;
    padding-right: 10px;
}
.research_title{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
}
.art_item{
    width: 90%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.art_content{
    width: 70%;
}
.art_title{
    margin-top: 10px;
    text-decoration: none;
    font-size: larger;
}
.art_img_container{
    width: 30%;
    max-height: 150px;
    margin-right: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

}
.art_img{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}
.art_authors{
    margin-top: 6px;
    margin-bottom: 6px;
}
.art_journal{
    font-style: italic;
}
.art_link_list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0;
}
.art_link_item{
    margin-right: 20px;
    text-align: left;
    color: var(--blue);
    text-decoration: none;
}
