

/* :root {
    --first-color: #b23850;
    --second-color: #3b8beb;
    --third-color: #e7e3d4;
    --fourth-color: #c4dbf6;
    --first-color: #db0038;
    --second-color: #f7c200;
    --third-color: #519dd9;
    --fourth-color: #53bac1;
    --heading-color: #000000;
    --heading-gray: #36454f;
    --white-color: #ffffff;
    --background-color: #ededed;
} */
/* :root {
    --first-color: #8f0020;
    --second-color: #f0aa00;
    --third-color: #24c085;
    --fourth-color: #36454f;
    --heading-color: #000000;
    --heading-gray: #36454f;
    --white-color: #ffffff;
    --background-color: #f5f5f5;
} */
:root {
    --first-color: #8f0020;
    /* --first-color: #424530; */
    --second-color: #f0bd00;
    /* --second-color-light: rgba(240, 189, 0, 0.8); */
    /* --second-color-light: hsl(var(--second-color),calc(var(--l) + 50%)); */
    
    --third-color: #a58e74;
    /* --third-color: #a58e74; */
    --fourth-color: #ffefcd;
    --fifth-color: #ffffff;
    --heading-color: #000000;
    --background-color: #f5f5f5;
}
/* :root {
    --first-color: #8f0020;
    --second-color: #f0bd00;
    --second-color-light: rgba(240, 189, 0, 0.8);
    --second-color-light: hsl(var(--second-color),calc(var(--l) + 50%));
    
    --third-color: #36454f;
    --fourth-color: #bebfc5;
    --fifth-color: #ffffff;
    --heading-color: #000000;
    --background-color: #f5f5f5;
} */
/* @font-face {
    font-family: Oswald;
    src: url('fonts/static/Oswald-Regular.ttf');
} */
@font-face {
    font-family: raleway;
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}
.h1{
    color: var(--first-color);
    font-size: 30pt;
    font-family: 'raleway';
}
.h2{
    color: var(--heading-gray)
}
.h3{
    color: var(--heading-gray)
}
.body{
    font-family: 'raleway', sans-serif;
}
.header_title{
    color: var(--first-color);
    text-align: left;
    margin-right: 200px;
    font-size: 18pt;
    text-decoration: none;
    font-weight: 700;
}
.nav_bar{
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--heading-color);
    /* background-color: var(--fourth-color); */
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin-left: 100px;
    margin-right: 100px;
}
.nav_list{
    font-family: 'raleway';
    width: 500px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.nav_list_item{
    text-decoration: none;
    text-align: center;
    display: flex;
    width: 10%;
    
}
.nav_item{
    text-align: center;
    text-decoration: none;
    /* margin-right: 20px; */
    font-weight: bold;
    font-size: 14pt;
    color: var(--heading-color);
}
.home_intro{
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.home__content{
    width: 400px;
    margin-right: 100px;
}
.home_greeting{
    font-size: 35pt;
    color: var(--first-color);
    margin-bottom: 5pt;
}
.home_greeting_title{
    font-size: 16pt;
    font-weight: 600;
    color: var(--third-color);
}
.home__img{
    /* width: 200px; */
    /* height: 10%; */
    /* width: 25%; */
    height: 400px;
    /* max-width: 500px; */
    border-radius: 50%;
    overflow: clip;
    justify-content: center;
    display: inline-flex;
    margin-left: 100px;
}
.about_button{
    background-color: var(--third-color);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: var(--fifth-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.personal_info{
    font-family: 'raleway';
    background-color: var(--second-color-light);
    padding-top: 40px;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.personal_info_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    font-size: 16pt;
}
.personal_li{
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding-top: 30px;
}
.home_values{
    font-family: 'raleway';
    display: grid;
    place-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.value_title{
    font-weight: 500;
    
}
.home_values_list{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.value_list_item{
    font-weight: 600;
    font-size: 18pt;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--second-color);
    text-decoration: none;
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.home_history{
    font-family: 'raleway';
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.home_history_title{
    color: var(--first-color);
    margin-top: 20px;
    font-size: 30pt;
    margin-bottom: 20px;
}
.history_section{
    display: flex;
    
}
.home_history_story{
    width: 400px;
    margin-right: 100px;;
    
}
.home_history_img{
    width: 400px;
    margin-left: 100px;;
    
}
.home_website_links{
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.home_website_links a{
    width: 18%;
    height: 28%;
    margin-left: 50px;
    margin-right: 50px;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    justify-content: center;
    /* opacity: 0.6; */
    
}
.home_link_block1{
    background-color: var(--first-color);
}
.home_link_block2{
    background-color: var(--second-color);
}
.home_link_block3{
    background-color: var(--third-color);
}
.home_block_title{
    text-decoration: none;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 20px;
    opacity: 1;
    font-size: 16pt;
}
.home_block_description{
    opacity: 1;
    text-align: center;
    color: var(--heading-color);
    display: flex;
    font-size: large;
}
.made_by{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}














